*.pyc
*.suo
svc/etc/conf/poll-uat/plus.dat
dynoris/tests/bin/
dynoris/tests/obj/
dynoris/dynoris/obj/
dynoris/dynoris/bin/
dynoris/.vs/
web.net/**/bin/
web.net/**/obj/
web.net/.vs/

svc/.idea/
dynoris/dynoris/log/

svc/\.vscode/\.ropeproject/
