beautifulsoup4
braintree
cryptography
google-api-python-client
httplib2
oauth
oauth2
oauth2client
oauthlib
pyOpenSSL
pystache
python-500px
python-daemon
python-dateutil
PyTumblr
pyxattr
PyYAML
redis
requests
requests-oauthlib
rsa
supervisor
tornado
twython
uritemplate
urlgrabber
urllib3
virtualenv